/* CSS declarations go here */

#game-title {
    text-align: center;
    margin: 4rem 2rem 2rem 2rem ;
}

#submit {
    display: block;
    margin: auto;
    margin-top: 1em;
}

#guess {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#guess-label {
    text-align: center;
}

.above {
  background-color: #FF0000;
}
.below {
  background-color: #0000FF;
}
.equals {
  background-color: #000000;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
