/* CSS declarations go here */

#game-title {
    text-align: center;
    margin: 4rem 2rem 2rem 2rem ;
}

#submit {
    display: block;
    margin: auto;
    margin-top: 1em;
}

#guess {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#guess-label {
    text-align: center;
}
